[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "==4.0.0"
flask-httpauth = "==4.8.0"
flask-migrate = "==4.0.5"
flask-sqlalchemy = "==3.1.1"
gunicorn = "==21.2.0"
psycopg2-binary = "==2.9.9"
python-dotenv = "==1.0.0"
sendgrid = "==6.10.0"
celery = "==5.3.4"
redis = "==5.0.1"
pytest = "==7.4.2"
pipenv = "*"
itsdangerous = "==2.1.2"
boto3 = "==1.28.62"
flask-compress = "=="

[dev-packages]

[requires]
python_version = "3.11"
