Flask==3.0.0
Flask-Cors==4.0.0
Flask-HTTPAuth==4.8.0
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
sendgrid==6.10.0
celery==5.3.4
redis==5.0.1
pytest==7.4.2
itsdangerous==2.1.2
boto3==1.28.62
